
                  <div class="wiki-rightbar">
                    <div id="wiki-pages-box" class="mb-4 wiki-pages-box js-wiki-pages-box" role="navigation">
                      <div class="Box Box--condensed color-shadow-small">
                        <div class="Box-header js-wiki-toggle-collapse" style="cursor: pointer">
                          <h3 class="Box-title">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon octicon-triangle-down js-wiki-sidebar-toggle-display d-none">
                              <path d="M4.427 7.427l3.396 3.396a.25.25 0 00.354 0l3.396-3.396A.25.25 0 0011.396 7H4.604a.25.25 0 00-.177.427z"></path>
                            </svg>
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon octicon-triangle-right js-wiki-sidebar-toggle-display">
                              <path d="M6.427 4.427l3.396 3.396a.25.25 0 010 .354l-3.396 3.396A.25.25 0 016 11.396V4.604a.25.25 0 01.427-.177z"></path>
                            </svg>
                            Pages <span title="183" class="Counter Counter--primary">183</span>
                          </h3>
                        </div>

                        <div class="d-none js-wiki-sidebar-toggle-display">
                          <div class="filter-bar">
                            <input type="text" id="wiki-pages-filter" class="form-control input-sm input-block js-filterable-field" placeholder="Find a Page…" aria-label="Find a Page…" autocomplete="off">
                          </div>

                          <ul class="m-0 p-0 list-style-none" data-filterable-for="wiki-pages-filter" data-filterable-type="substring" data-pjax="">
                              <!-- PAGES INDEX -->
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="gollum-markdown-content">
                      <div class="Box Box--condensed mb-4">
                        <div class="Box-body wiki-custom-sidebar markdown-body wiki-writable">
                          <a href="/libgdx/libgdx/wiki/_Sidebar/_edit" class="position-relative float-right ml-3 Link--muted" title="Edit sidebar" style="z-index: 10">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon octicon-pencil">
                              <path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path>
                            </svg>
                          </a>
                                
                          {% capture my_include %}{% include sidebar.md %}{% endcapture %}
                          {{ my_include | markdownify }}

                        </div>
                      </div>
                    </div>

                    <!-- CLONE THIS WIKI COPY-FIELD -->
                    {% include el_clone_this_wiki.html %}
                    <!-- ////////////////////////// -->

                  </div>